# Use this template to create local .env file
# Define all the configs for model

FILE_NAME=
DATA_DIR=
MODEL_DIR=
LABEL_NAME=
TRAIN_TEST_SPLIT=
SEQUENCE_LENGTH=
BATH_SIZE=
EPOCHS=
BACKGROUND_DATA_SIZE=
TEST_SAMPLE_SIZE=

LOCAL_ENVIRONMENT=TRUE
